[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/android/Desktop/pamac-manager.desktop]
row=0
col=0

[/home/android/Desktop/install-TV.desktop]
row=8
col=4

[/home/android/Desktop/Samsung]
row=1
col=1

[/home/android/Desktop/install-chromium.desktop]
row=8
col=1

[/home/android/Desktop/install-sonyflash.desktop]
row=8
col=2

[/home/android/Desktop/install-spflash.desktop]
row=8
col=3

[/home/android/Desktop/welcome.desktop]
row=8
col=0

[/home/android/Desktop/LG]
row=1
col=0

[/home/android]
row=0
col=1

