[Desktop Entry]
Version=1.0
Type=Application
Name=Midori
Name[af]=Midori
Name[ar]=ميدوري
Name[ast]=Midori
Name[be]=Midori
Name[bg]=Midori
Name[bn]=মিডোরি
Name[bs]=Midori
Name[ca]=Midori
Name[ckb]=میدۆری
Name[cs]=Midori
Name[cy]=Midori
Name[da]=Midori
Name[de]=Midori
Name[el]=Midori
Name[en_AU]=Midori
Name[en_CA]=Midori
Name[en_GB]=Midori
Name[eo]=Midori
Name[es]=Midori
Name[et]=Midori
Name[eu]=Midori
Name[fa]=میدوری
Name[fi]=Midori
Name[fr]=Midori
Name[gd]=Midori
Name[gl]=Midori
Name[he]=דפדפן Midori
Name[hi]=मिडोरी
Name[hr]=Midori
Name[hu]=Midori
Name[ia]=Midori
Name[id]=Midori
Name[it]=Midori
Name[ja]=Midori
Name[kk]=Midori
Name[km]=Midori
Name[ko]=미도리
Name[ku]=Midori
Name[ky]=Midori
Name[lb]=Midori
Name[lt]=Midori
Name[lv]=Midori
Name[ml]=മിഡോരി
Name[ms]=Midori
Name[nap]=Midori
Name[nb]=Midori
Name[nl]=Midori
Name[nn]=Midori
Name[no]=Midori
Name[pa]=ਮੀਡੋਰੀ
Name[pl]=Midori
Name[pt]=Midori
Name[pt_BR]=Midori
Name[ro]=Midori
Name[ru]=Midori
Name[sk]=Midori
Name[sl]=Midori
Name[sq]=Midori
Name[sr]=Мидори
Name[sr@latin]=Midori
Name[sv]=Midori
Name[ta]=மிடோரி
Name[te]=మిడొరి
Name[th]=Midori
Name[tr]=Midori
Name[ug]=مىدورى(Midori)
Name[uk]=Мідорі
Name[ur]=مادورا
Name[vi]=Midori
Name[zh_CN]=Midori 浏览器
Name[zh_TW]=Midori
GenericName=Web Browser
GenericName[af]=Web Blaaier
GenericName[ar]=متصفح الويب
GenericName[ast]=Restolador
GenericName[be]=Вэб-браўзер
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bs]=Internet preglednik
GenericName[ca]=Navegador web
GenericName[ckb]=وێبگه‌ڕ
GenericName[cs]=Internetový prohlížeč
GenericName[cy]=Porwr Gwe
GenericName[da]=Webbrowser
GenericName[de]=Web-Browser
GenericName[el]=Περιηγητής Ιστού
GenericName[en_AU]=Web Browser
GenericName[en_CA]=Web Browser
GenericName[en_GB]=Web Browser
GenericName[eo]=Retumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web-arakatzailea
GenericName[fa]=مرورگر وب
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Web
GenericName[gd]=Brabhsair-lìn
GenericName[gl]=Navegador web
GenericName[he]=דפדפן
GenericName[hi]=वेब ब्राउज़र
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[ia]=Navigator Web
GenericName[id]=Peramban Web
GenericName[it]=Browser web
GenericName[ja]=ウェブブラウザー
GenericName[kk]=Веб браузері
GenericName[km]=កម្មវិធីអ៊ីនធឺណិត
GenericName[ko]=웹 브라우저
GenericName[ku]=Web Gerok
GenericName[ky]=Интернет-серепчи
GenericName[lb]=Web Browser
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[ml]=വെബ് ബ്രൗസര്‍
GenericName[ms]=Pelayar Sesawang
GenericName[nap]=Navigatore web
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador web
GenericName[pt_BR]=Navegador web
GenericName[ro]=Navigator web
GenericName[ru]=Веб-обозреватель
GenericName[sk]=Internetový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sq]=Shfletues Interneti
GenericName[sr]=Веб прегледник
GenericName[sr@latin]=Internet preglednik
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=వెబ్ విహారిణి
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Веб-переглядач
GenericName[ur]=ویب براؤزر
GenericName[uz]=Veb brauzer
GenericName[vi]=Trình duyệt Web
GenericName[zh_CN]=网络浏览器
GenericName[zh_TW]=網頁瀏覽器
X-GNOME-Fullname=Midori Web Browser
X-GNOME-Fullname[af]=Midori Web Blaaier
X-GNOME-Fullname[ar]=ميدورى مُتصفح الويب
X-GNOME-Fullname[be]=Вэб-браўзер Midori
X-GNOME-Fullname[bg]=Уеб браузър Midori
X-GNOME-Fullname[bn]=মিডোরি ওয়েব ব্রাউজার
X-GNOME-Fullname[bs]=Midori internet pregledač
X-GNOME-Fullname[ca]=Navegador web Midori
X-GNOME-Fullname[ckb]=وێبگه‌ڕی میدۆری
X-GNOME-Fullname[cs]=Internetový prohlížeč Midori
X-GNOME-Fullname[cy]=Midori Porwr Gwe
X-GNOME-Fullname[da]=Midori webbrowser
X-GNOME-Fullname[de]=Midori Web-Browser
X-GNOME-Fullname[el]=Περιηγητής Ιστού Midori
X-GNOME-Fullname[en_AU]=Midori Web Browser
X-GNOME-Fullname[en_CA]=Midori Web Browser
X-GNOME-Fullname[en_GB]=Midori Web Browser
X-GNOME-Fullname[eo]=Retumilo Midori
X-GNOME-Fullname[es]=Navegador web Midori
X-GNOME-Fullname[et]=Midori veebibrauser
X-GNOME-Fullname[eu]=Web-arakatzaile mugikorra
X-GNOME-Fullname[fa]=مرورگر وب میدوری
X-GNOME-Fullname[fi]=Midori-verkkoselain
X-GNOME-Fullname[fr]=Navigateur Web Midori
X-GNOME-Fullname[gd]=Brabhsair-lìn Midori
X-GNOME-Fullname[gl]=Navegador web Midori
X-GNOME-Fullname[he]=דפדפן האינטרנט  Midori
X-GNOME-Fullname[hi]=मिडोरी वेब ब्राउज़र
X-GNOME-Fullname[hr]=Midori web preglednik
X-GNOME-Fullname[hu]=Midori webböngésző
X-GNOME-Fullname[ia]=Le Navigator Web Midori
X-GNOME-Fullname[id]=Peramban Web Midori
X-GNOME-Fullname[it]=Browser web Midori
X-GNOME-Fullname[ja]=Midori ウェブブラウザー
X-GNOME-Fullname[kk]=Midori веб браузері
X-GNOME-Fullname[km]=កម្មវិធី​អ៊ីនធឺណិត Midori
X-GNOME-Fullname[ko]=미도리 웹 브라우저
X-GNOME-Fullname[ku]=Midori Web Gerok
X-GNOME-Fullname[ky]=Midori интернет-серепчиси
X-GNOME-Fullname[lb]=Midori Web Browser
X-GNOME-Fullname[lt]=Interneto naršyklė Midori
X-GNOME-Fullname[lv]=Midori tīmekļa pārlūks
X-GNOME-Fullname[ml]=മിഡോരി വെബ് ബ്രൗസര്‍
X-GNOME-Fullname[ms]=Pelayar Sesawang Midori
X-GNOME-Fullname[nap]=Navigatore web Midori
X-GNOME-Fullname[nb]=Midori Nettleser
X-GNOME-Fullname[nl]=Midori webbrowser
X-GNOME-Fullname[nn]=Midori Nettlesar
X-GNOME-Fullname[pl]=Przeglądarka internetowa Midori
X-GNOME-Fullname[pt]=Navegador web Midori
X-GNOME-Fullname[pt_BR]=Navegador Web Midori
X-GNOME-Fullname[ro]=Navigatorul web Midori
X-GNOME-Fullname[ru]=Веб-браузер Midori
X-GNOME-Fullname[sk]=Midori internetový prehliadač
X-GNOME-Fullname[sl]=Brskalnik Midori
X-GNOME-Fullname[sq]=Midori - Shfletuesi i Internetit
X-GNOME-Fullname[sr]=Веб прегледник Мидори
X-GNOME-Fullname[sv]=Webbläsaren Midori
X-GNOME-Fullname[ta]=மிடோரி இணைய உலாவி
X-GNOME-Fullname[te]=మిడొరి వెబ్ విహారిణి
X-GNOME-Fullname[th]=Midori Web Browser
X-GNOME-Fullname[tr]=Midori İnternet Tarayıcısı
X-GNOME-Fullname[ug]=مىدورى(Midori) توركۆرگۈ
X-GNOME-Fullname[uk]=Midori - переглядач Веб-сторінок
X-GNOME-Fullname[ur]=مادورا ویب براؤزر
X-GNOME-Fullname[vi]=Trình duyệt web Midori
X-GNOME-Fullname[zh_CN]=Midori 网络浏览器
X-GNOME-Fullname[zh_TW]=Midori 網頁瀏覽器
Comment=Browse the Web
Comment[af]=Besoek die Web
Comment[ar]=تصفح الويب
Comment[be]=Аглядаць Сеціва
Comment[bg]=Търсене в Интернет
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[bs]=Pretražuj Internet
Comment[ca]=Navegueu pel web
Comment[ckb]=وێبگەران
Comment[cs]=Prohlížet internet
Comment[cy]=Porwch yr We
Comment[da]=Gennemse internettet
Comment[de]=Im Internet surfen
Comment[el]=Περιήγηση στον Ιστό
Comment[en_AU]=Browse the Web
Comment[en_CA]=Browse the Web
Comment[en_GB]=Browse the Web
Comment[eo]=Retumi
Comment[es]=Navegue por la web
Comment[et]=Veebi lehitsemine stiilselt
Comment[eu]=Arakatu sarea
Comment[fa]=مرور وب
Comment[fi]=Selaa verkkoa
Comment[fr]=Naviguer sur le web
Comment[gd]=Brabhsaich an lìon
Comment[gl]=Navegar pola Rede
Comment[he]=גלישה באינטרנט
Comment[hi]=इन्टरनेट ब्राऊस करें
Comment[hr]=Pretraži web
Comment[hu]=A világháló böngészése
Comment[ia]=Naviga le Web
Comment[id]=Ramban Web
Comment[it]=Naviga nel web
Comment[ja]=ウェブを閲覧します
Comment[kk]=Интернетті шолу
Comment[km]=រុករក​បណ្ដាញ
Comment[ko]=웹 찾아보기
Comment[ku]=Li Webê çav bike
Comment[ky]=Интернеттен иштөө
Comment[lb]=Am Internet surfen
Comment[lt]=Naršyti internete
Comment[lv]=Pārlūkot tīmekli
Comment[ml]=വെബില്‍  തിരയുക
Comment[ms]=Layari Sesawang
Comment[nap]=Naviga dint' 'o web
Comment[nb]=Bruk internett
Comment[nl]=Surfen op het web
Comment[nn]=Surf på nettet
Comment[pl]=Wyświetla zawartość stron umieszczonych w sieci internetowej
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegue na web
Comment[ro]=Navigați pe Internet
Comment[ru]=Работа в Интернете
Comment[sk]=Prehliadať internet
Comment[sl]=Brskajte po spletu
Comment[sq]=Shfleto Internetin
Comment[sr]=Прегледајте веб
Comment[sr@latin]=Pretražiti internet
Comment[sv]=Surfa på nätet
Comment[ta]=இணையத்தில் உலாவுக
Comment[te]=వెబ్ లో విహరించు
Comment[th]=ท่องดูเว็บ
Comment[tr]=İnternette Gezin
Comment[ug]=تور كۆرۈش
Comment[uk]=Серфінг в Інтернеті
Comment[ur]=ویب کو براؤز کریں
Comment[vi]=Duyệt web
Comment[zh_CN]=浏览网络
Comment[zh_TW]=瀏覽網頁
X-GNOME-Keywords=Internet;WWW;Explorer
X-GNOME-Keywords[af]=Internet;WWW;Verkenner
X-GNOME-Keywords[ar]=شبكة الإنترنت؛WWW؛إكسبلورر
X-GNOME-Keywords[be]=Internet;WWW;Explorer
X-GNOME-Keywords[bg]=Интернет;WWW;Търсачка
X-GNOME-Keywords[bn]=ইন্টারনেট , বা ডব্লুডব্লুডব্লু; এক্সপ্লোরার
X-GNOME-Keywords[bs]=Internet;WWW,Eksplorer
X-GNOME-Keywords[ca]=Internet;WWW;Explorador
X-GNOME-Keywords[ckb]=ئنتەرنێت ; WWW ; دۆزەر
X-GNOME-Keywords[cs]=Internet;WWW;Explorer
X-GNOME-Keywords[cy]=Internet;WWW;Explorer
X-GNOME-Keywords[da]=Internet;WWW;Stifinder
X-GNOME-Keywords[de]=Internet;WWW;Explorer;Browser
X-GNOME-Keywords[el]=Internet;WWW;Explorer
X-GNOME-Keywords[en_AU]=Internet;WWW;Explorer
X-GNOME-Keywords[en_CA]=Internet;WWW;Explorer
X-GNOME-Keywords[en_GB]=Internet;WWW;Explorer
X-GNOME-Keywords[eo]=Interreto;TTT;Eksplorilo
X-GNOME-Keywords[es]=Internet;WWW;Explorador
X-GNOME-Keywords[et]=Internet;WWW;Explorer;Web;Veeb;Brauser;Browser
X-GNOME-Keywords[eu]=Internet;WWW;Nabigatzailea
X-GNOME-Keywords[fa]=کاوشگر اینترنت
X-GNOME-Keywords[fi]=Internet;WWW;Explorer;selain
X-GNOME-Keywords[fr]=Internet;WWW;Explorer
X-GNOME-Keywords[gd]=Internet;WWW;Explorer;eadar-lìon;taisgealaiche;brabhsair;browser;
X-GNOME-Keywords[gl]=Internet;WWW;Explorer
X-GNOME-Keywords[he]=אינטרנט;רשת;דפדפן
X-GNOME-Keywords[hi]=इन्टरनेट;WWW;एक्सप्लोरर
X-GNOME-Keywords[hr]=Internet;WWW;Preglednik
X-GNOME-Keywords[hu]=Internet;WWW;Explorer
X-GNOME-Keywords[ia]=Internet;WWW;Explorator
X-GNOME-Keywords[id]=Internet;WWW;Explorer
X-GNOME-Keywords[it]=Internet;WWW;Explorer
X-GNOME-Keywords[ja]=インターネット;WWW;エクスプローラー
X-GNOME-Keywords[kk]=Интернет;WWW;Шолушы
X-GNOME-Keywords[ko]=인터넷;WWW;익스플로러
X-GNOME-Keywords[ky]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-GNOME-Keywords[lb]=Internet;WWW;Explorer
X-GNOME-Keywords[lt]=Internetas;WWW;Naršyklė
X-GNOME-Keywords[lv]=Internets;WWW;Pārlūks
X-GNOME-Keywords[ms]=Internet;WWW;Explorer
X-GNOME-Keywords[nap]=Internet;WWW;Explorer
X-GNOME-Keywords[nb]=Internett;WWW;Explorer
X-GNOME-Keywords[nl]=Internet;WWW;Verkenner
X-GNOME-Keywords[nn]=Internett;WWW;Explorer
X-GNOME-Keywords[pl]=Internet;WWW;Explorer
X-GNOME-Keywords[pt]=Internet;WWW;Explorer
X-GNOME-Keywords[pt_BR]=Internet;WWW;Explorer
X-GNOME-Keywords[ro]=Internet;WWW;Navigator
X-GNOME-Keywords[ru]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-GNOME-Keywords[sk]=Internet; WWW; Prehliadač
X-GNOME-Keywords[sl]=Internet;WWW;Explorer
X-GNOME-Keywords[sq]=Internet;WWW;Explorer
X-GNOME-Keywords[sr]=Интернет;ВВВ;Истраживач
X-GNOME-Keywords[sv]=Internet;WWW;Explorer
X-GNOME-Keywords[te]=అంతర్జాలం;WWW;గాలించునది
X-GNOME-Keywords[tr]=Internet;WWW;Tarayıcı
X-GNOME-Keywords[ug]=ئىنتېرنېت؛WWW؛Explorer
X-GNOME-Keywords[uk]=Internet;WWW;Explorer
X-GNOME-Keywords[ur]=انٹرنیٹ;دیکھیے ورلڈ وائڈ ویب;ایکسپلورر
X-GNOME-Keywords[vi]=Internet;WWW;Explorer;Web
X-GNOME-Keywords[zh_CN]=互联网；WWW；浏览器
X-GNOME-Keywords[zh_TW]=Internet;WWW;Explorer;網際網路;瀏覽器
X-AppInstall-Keywords=Internet;WWW;Explorer
X-AppInstall-Keywords[af]=Internet;WWW;Verkenner
X-AppInstall-Keywords[ar]=شبكة الإنترنت؛WWW؛إكسبلورر
X-AppInstall-Keywords[be]=Internet;WWW;Explorer
X-AppInstall-Keywords[bg]=Интернет;WWW;Търсачка
X-AppInstall-Keywords[bn]=ইন্টারনেট , বা ডব্লুডব্লুডব্লু; এক্সপ্লোরার
X-AppInstall-Keywords[bs]=Internet;WWW,Eksplorer
X-AppInstall-Keywords[ca]=Internet;WWW;Explorador
X-AppInstall-Keywords[ckb]=ئنتەرنێت ; WWW ; دۆزەر
X-AppInstall-Keywords[cs]=Internet;WWW;Explorer
X-AppInstall-Keywords[cy]=Internet;WWW;Explorer
X-AppInstall-Keywords[da]=Internet;WWW;Stifinder
X-AppInstall-Keywords[de]=Internet;WWW;Explorer;Browser
X-AppInstall-Keywords[el]=Internet;WWW;Explorer
X-AppInstall-Keywords[en_AU]=Internet;WWW;Explorer
X-AppInstall-Keywords[en_CA]=Internet;WWW;Explorer
X-AppInstall-Keywords[en_GB]=Internet;WWW;Explorer
X-AppInstall-Keywords[eo]=Interreto;TTT;Eksplorilo
X-AppInstall-Keywords[es]=Internet;WWW;Explorador
X-AppInstall-Keywords[et]=Internet;WWW;Explorer;Web;Veeb;Brauser;Browser
X-AppInstall-Keywords[eu]=Internet;WWW;Nabigatzailea
X-AppInstall-Keywords[fa]=کاوشگر اینترنت
X-AppInstall-Keywords[fi]=Internet;WWW;Explorer;selain
X-AppInstall-Keywords[fr]=Internet;WWW;Explorer
X-AppInstall-Keywords[gd]=Internet;WWW;Explorer;eadar-lìon;taisgealaiche;brabhsair;browser;
X-AppInstall-Keywords[gl]=Internet;WWW;Explorer
X-AppInstall-Keywords[he]=אינטרנט;רשת;דפדפן
X-AppInstall-Keywords[hi]=इन्टरनेट;WWW;एक्सप्लोरर
X-AppInstall-Keywords[hr]=Internet;WWW;Preglednik
X-AppInstall-Keywords[hu]=Internet;WWW;Explorer
X-AppInstall-Keywords[ia]=Internet;WWW;Explorator
X-AppInstall-Keywords[id]=Internet;WWW;Explorer
X-AppInstall-Keywords[it]=Internet;WWW;Explorer
X-AppInstall-Keywords[ja]=インターネット;WWW;エクスプローラー
X-AppInstall-Keywords[kk]=Интернет;WWW;Шолушы
X-AppInstall-Keywords[ko]=인터넷;WWW;익스플로러
X-AppInstall-Keywords[ky]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-AppInstall-Keywords[lb]=Internet;WWW;Explorer
X-AppInstall-Keywords[lt]=Internetas;WWW;Naršyklė
X-AppInstall-Keywords[lv]=Internets;WWW;Pārlūks
X-AppInstall-Keywords[ms]=Internet;WWW;Explorer
X-AppInstall-Keywords[nap]=Internet;WWW;Explorer
X-AppInstall-Keywords[nb]=Internett;WWW;Explorer
X-AppInstall-Keywords[nl]=Internet;WWW;Verkenner
X-AppInstall-Keywords[nn]=Internett;WWW;Explorer
X-AppInstall-Keywords[pl]=Internet;WWW;Explorer
X-AppInstall-Keywords[pt]=Internet;WWW;Explorer
X-AppInstall-Keywords[pt_BR]=Internet;WWW;Explorer
X-AppInstall-Keywords[ro]=Internet;WWW;Navigator
X-AppInstall-Keywords[ru]=Internet;Explorer;Интернет;браузер;обозреватель;www
X-AppInstall-Keywords[sk]=Internet; WWW; Prehliadač
X-AppInstall-Keywords[sl]=Internet;WWW;Explorer
X-AppInstall-Keywords[sq]=Internet;WWW;Explorer
X-AppInstall-Keywords[sr]=Интернет;ВВВ;Истраживач
X-AppInstall-Keywords[sv]=Internet;WWW;Explorer
X-AppInstall-Keywords[te]=అంతర్జాలం;WWW;గాలించునది
X-AppInstall-Keywords[tr]=Internet;WWW;Tarayıcı
X-AppInstall-Keywords[ug]=ئىنتېرنېت؛WWW؛Explorer
X-AppInstall-Keywords[uk]=Internet;WWW;Explorer
X-AppInstall-Keywords[ur]=انٹرنیٹ;دیکھیے ورلڈ وائڈ ویب;ایکسپلورر
X-AppInstall-Keywords[vi]=Internet;WWW;Explorer;Web
X-AppInstall-Keywords[zh_CN]=互联网；WWW；浏览器
X-AppInstall-Keywords[zh_TW]=Internet;WWW;Explorer;網際網路;瀏覽器
Categories=GTK;Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/geo;image/svg+xml;
Exec=midori %U
Icon=midori
Terminal=false
StartupNotify=true
X-GNOME-UsesNotifications=true
X-Osso-Type=application/x-executable
X-Osso-Service=midori
Actions=TabNew;WindowNew;Private;

[Desktop Action TabNew]
Name=New Tab
Name[af]=Nuwe Blad
Name[ar]=صفحة جديدة
Name[be]=Новая картка
Name[bg]=Нов раздел
Name[bn]=নতুন ট্যাব
Name[bs]=Novi tab
Name[ca]=Pestanya nova
Name[ckb]=تابێکی نوێ
Name[cs]=Nová karta
Name[da]=Nyt faneblad
Name[de]=Einen neuen Tab öffnen
Name[el]=Νέα Καρτέλα
Name[en_AU]=New Tab
Name[en_CA]=New Tab
Name[en_GB]=New Tab
Name[eo]=Nova langeto
Name[es]=Pestaña nueva
Name[et]=Uus kaart
Name[eu]=Fitxa berria
Name[fa]=برگهٔ جدید
Name[fi]=Uusi välilehti
Name[fr]=Nouvel onglet
Name[gd]=Taba ùr
Name[gl]=Nova lapela
Name[he]=לשונית חדשה
Name[hi]=नया टैब
Name[hr]=Nova kartica
Name[hu]=Új lap
Name[ia]=Nove scheda
Name[id]=Tab Baru
Name[it]=Nuova scheda
Name[ja]=新しいタブ
Name[kk]=Жаңа бет
Name[km]=ផ្ទាំង​ថ្មី
Name[ko]=새 탭
Name[ku]=Hilpekîna nû
Name[ky]=Жаңы салма
Name[lb]=Neien Tab
Name[lt]=Nauja kortelė
Name[lv]=Jauna cilne
Name[ml]=പുതിയ ടാബ്
Name[ms]=Tab Baru
Name[nap]=Scheda nova
Name[nb]=Ny fane
Name[nl]=Nieuw tabblad
Name[nn]=Ny fane
Name[pl]=Nowa karta
Name[pt]=Novo separador
Name[pt_BR]=Nova aba
Name[ro]=Tab nou
Name[ru]=Новая вкладка
Name[sk]=Nová karta
Name[sl]=Nov zavihek
Name[sq]=Skedë e re
Name[sr]=Нови лист
Name[sv]=Ny flik
Name[ta]=புதிய தாவல்
Name[te]=కొత్త టాబ్
Name[th]=แท็บใหม่
Name[tr]=Yeni Sekme
Name[ug]=يېڭى بەتكۈچ
Name[uk]=Нова вкладка
Name[ur]=نیا ٹیب
Name[vi]=Tab mới
Name[zh_CN]=新建标签
Name[zh_TW]=新增分頁
Exec=midori -e TabNew

[Desktop Action WindowNew]
Name=New Window
Name[af]=Nuwe Venster
Name[ar]=نافذه جديده
Name[be]=Новае вакно
Name[bg]=Нов прозорец
Name[bn]=নতুন উইন্ডো
Name[bs]=Novi prozor
Name[ca]=Finestra nova
Name[ckb]=پەنجەرەیەکی نوێ
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Ein neues Fenster öffnen
Name[el]=Νέο Παράθυρο
Name[en_AU]=New Window
Name[en_CA]=New Window
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[et]=Uus aken
Name[eu]=Leiho berria
Name[fa]=پنجره‌ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[gd]=Uinneag ùr
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नया विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[ia]=Nove fenestra
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kk]=Жаңа терезе
Name[km]=វីនដូ​ថ្មី
Name[ko]=새 창
Name[ku]=Paceya nû
Name[ky]=Жаңы терезе
Name[lb]=Nei Fënster
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ml]=പുതിയ ജാലകം
Name[ms]=Tetingkap Baru
Name[nap]=Fenesta nova
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[nn]=Nytt vindauge
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sq]=Dritare e re
Name[sr]=Нови прозор
Name[sr@latin]=Novi Prozor
Name[sv]=Nytt fönster
Name[ta]=புதிய சாளரம்
Name[te]=కొత్త విండో
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[ug]=يېڭى كۆزنەك
Name[uk]=Нове вікно
Name[ur]=نئی ونڈو
Name[uz]=Yangi oyna
Name[vi]=Cửa sổ mới
Name[zh_CN]=新建窗口
Name[zh_TW]=新增視窗
Exec=midori -e WindowNew

[Desktop Action Private]
Name=New Private Browsing Window
Name[af]=Nuwe Privaat Blaaier Venster
Name[ar]=نافذه تصفح خاصة جديدة
Name[be]=Акно прыватнага аглядання
Name[bg]=Нов прозорец за поверително сърфиране
Name[bn]=নতুন ব্যক্তিগত ব্রাউজিং উইন্ডোতে
Name[bs]=Novi prozor privatnog pregledanja
Name[ca]=Nova finestra privada de navegació
Name[ckb]=پەنجەرەیەکی نوێ بۆ وێبگەرانی شەخسی
Name[cs]=Nové okno soukromého prohlížení
Name[da]=Nyt "P_rivat browsing"-vindue
Name[de]=Neues privates Fenster
Name[el]=Νέο Παράθυρο Ιδιωτικής Περιήγησης
Name[en_AU]=New Private Browsing Window
Name[en_CA]=New Private Browsing Window
Name[en_GB]=New Private Browsing Window
Name[eo]=Nova fenestro por privata retumado
Name[es]=Ventana de navegación privada nueva
Name[et]=Uus privaatne aken
Name[eu]=Nabigatze _pribatuko leiho berria
Name[fa]=پنجره مرور محرمانه جدید
Name[fi]=Uusi yksityisen selauksen ikkuna
Name[fr]=Nouvelle fenêtre de navigation privée
Name[gd]=Uinneag brabhsair phrìobhaideach ùr
Name[gl]=Nova xanela de navegación privada
Name[he]=חלון גלישה פרטית חדש
Name[hi]=नया गोपनीय ब्राउज़िंग विंडोज
Name[hr]=Novi prozor privatnog pretraživanja
Name[hu]=Új privát böngészési ablak
Name[ia]=Nove fenestra private
Name[id]=Jendela Peramban Privat Baru
Name[it]=Nuova finestra di navigazione privata
Name[ja]=新しいプライベートブラウジングウィンドウ
Name[kk]=Жаңа жекелік терезесі
Name[km]=វីនដូ​រុករក​សម្ងាត់​ថ្មី
Name[ko]=새 사생활 보호 모드 창
Name[lb]=Nei Privat Fënster
Name[lt]=Naujas privataus naršymo langas
Name[lv]=Jauns, Privāts Pārlūka Logs
Name[ms]=Tetingkap Pelayaran Peribadi Baru
Name[nap]=Fenesta 'e navigazione privata nova
Name[nb]=Nytt privatsurfing vindu
Name[nl]=Nieuw privé-surfvenster
Name[nn]=Nytt vindauge i privatmodus
Name[pl]=Nowe okno prywatne
Name[pt]=Nova janela de navegação privada
Name[pt_BR]=Nova janela de navegação privada
Name[ro]=Fereastră nouă de navigare privată
Name[ru]=Новое приватное окно
Name[sk]=Nové okno súkromého prehliadania
Name[sl]=Novo zasebno okno
Name[sq]=Dritare e re shfletuesi privat
Name[sr]=Нови прозор приватног прегледања
Name[sv]=Nytt privat fönster
Name[th]=หน้าต่างใหม่แบบสวนตัว
Name[tr]=Yeni Özel Tarama Penceresi
Name[ug]=يېڭى شەخسىي كۆرۈش كۆزنىكى
Name[uk]=Нове вікно в режимі приватності
Name[ur]=نئے نجی براؤزنگ کی ونڈو
Name[vi]=Mở cửa sổ duyệt web riêng tư mới
Name[zh_CN]=新建私人浏览窗口
Name[zh_TW]=新增私人瀏覽視窗
Exec=midori --private

